MONAPAY_USERNAME=your_username
MONAPAY_PASSWORD=your_password
MONAPAY_CLIENT_SECRET=your_client_secret
MONAPAY_WEBHOOK_SECRET=your_webhook_secret
MONAPAY_OWNER_NUMBER=123456789
MONAPAY_OWNER_TYPE=ORG
MONAPAY_MERCHANT_ID=MC00012345
MONAPAY_TERMINAL_ID=TM0001
MONAPAY_VA_PREFIX=MONA
MONAPAY_BENEFICIARY_NAME=CONG TY ABC
